/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  max-width: 1920px;
  margin: auto;
}

.header {
  width: 100%;
  height: 66px;
  background-color: rgb(11, 11, 11);
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.header__navbar {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  align-items: center;
  color: rgb(255, 255, 255);
  gap: 50px;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
}
.header__navbar button {
  text-transform: uppercase;
  color: rgb(11, 11, 11);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 46px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  line-height: 17px;
}
.header__navbar li {
  margin: 0 10px;
}

.heropage {
  height: 100vh;
  max-height: 1020px;
  font-family: "Raleway";
  display: flex;
  background-color: rgb(215, 215, 215);
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.heropage__text-block {
  display: flex;
  padding: 10%;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway";
  font-weight: 700;
}
.heropage__text-block--grey {
  font-weight: 800;
  color: rgb(144, 144, 144);
  font-size: 25px;
}
.heropage__text-block span {
  font-size: 40px;
  margin-bottom: 15%;
}
.heropage__links-block {
  display: flex;
  gap: 30px;
}
.heropage__black-box {
  background-color: rgb(11, 11, 11);
  width: 55%;
  height: 120%;
  transform: rotate(9.67deg);
  position: absolute;
  right: -80px;
  top: -80px;
  z-index: 0;
}
.heropage img {
  position: absolute;
  z-index: 0;
  right: 12%;
  height: 92%;
  bottom: 0;
}
.heropage h1 {
  font-size: 80px;
}
.heropage a {
  width: 60px;
  height: 60px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.heropage svg {
  margin: auto;
}/*# sourceMappingURL=style.css.map */